footer{
    font-size: 30px;
    height: 100px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}